---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
---

<MainLayout title="HØJSKOLE I CARIBIEN, HAWAII & MEXICO">
    <section class="max-w-7xl mx-auto p-6">
        <h1>Singleview</h1>
    </section>
</MainLayout>
