---
import ButtonHeader from "../components/ButtonHeader.astro";
---

<div x-data="{ showmenu: false, showDropdown: false }" class="z-50 w-full fixed bg-gray-950 bg-opacity-70 backdrop-blur-md shadow-lg">
  <!-- Fixed Header -->
  <div id="navbar" class="flex flex-row mx-auto items-center max-w-full py-sm px-[100px]">
    <!-- Logo -->
    <div class="md:w-[295px] w-6xl">
      <a href="/"><img src="/logo_white.png" alt="Logo" /></a>
    </div>

    <!-- Desktop Menu and Button -->
    <div class="hidden lg:flex items-center space-x-6 ml-auto">
      <nav id="desktopmenu" class="flex font-lato items-center space-x-6">
        <a class="hover:text-orange-500 text-neutral-50" href="/">Hjem</a>
        <!-- Dropdown -->
        <div class="relative">
          <button class="hover:text-orange-500 text-neutral-50 py-xxs px-md flex items-center" @click="showDropdown = !showDropdown">
            Rejser
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5"></path>
            </svg>
          </button>
          <div
            x-show="showDropdown"
            x-transition
            class="absolute left-auto right-0 mt-2 w-11xl py-xxs px-xs rounded-sm bg-gray-950 bg-opacity-95 border border-gray-700 shadow-lg z-10"
          >
            <ul>
              <li>
                <a href="#" class="block py-xxs px-xxxs text-neutral-50 hover:text-orange-500 hover:bg-gray-800"> Caribien, Hawaii & Mexico</a>
              </li>
              <li>
                <a href="#" class="block py-xxs px-xxxs text-neutral-50 hover:text-orange-500 hover:bg-gray-800"> Costa rica, Mexico & Colombia</a>
              </li>
              <li>
                <a href="#" class="block py-xxs px-xxxs text-neutral-50 hover:text-orange-500 hover:bg-gray-800"
                  >Australien, NZ, Bali & Gili Islands</a
                >
              </li>
              <li>
                <a href="#" class="block py-xxs px-xxxs text-neutral-50 hover:text-orange-500 hover:bg-gray-800"
                  >Australien, Japan, Bali & Gili Islands</a
                >
              </li>
              <li>
                <a href="#" class="block py-xxs px-xxxs text-neutral-50 hover:text-orange-500 hover:bg-gray-800"
                  >Hawaii, Australien, Japan, Bali & Gili Islands</a
                >
              </li>
              <li>
                <a href="#" class="block py-xxs px-xxxs text-neutral-50 hover:text-orange-500 hover:bg-gray-800"
                  >Brasilien, Bolivia, Colombia, Ecuador, Peru & Argentina</a
                >
              </li>
              <li>
                <a href="#" class="block py-xxs px-xxxs text-neutral-50 hover:text-orange-500 hover:bg-gray-800">Costa Rica, Mexico & Colombia</a>
              </li>
              <li>
                <a href="#" class="block py-xxs px-xxxs text-neutral-50 hover:text-orange-500 hover:bg-gray-800"
                  >Indien, Nepal, Thailand, Vietnam & Sri Lanka</a
                >
              </li>
              <li>
                <a href="#" class="block py-xxs px-xxxs text-neutral-50 hover:text-orange-500 hover:bg-gray-800"
                  >Bali, Lombok & Gili (sommerhøjskole)</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Desktop Button -->
      <div>
        <a href="/formular"><ButtonHeader variant="primary" size="small">Tilmeld</ButtonHeader></a>
      </div>

      <!-- Mobile Menu Button -->
      <button id="burgermenu" class="lg:hidden" x-on:click="showmenu = ! showmenu"
        ><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
        </svg>
      </button>
    </div>
    <nav
      id="mobilmenu"
      class="flex flex-col content-center pt-4"
      x-show="showmenu"
      x-transition
      x-on:click="showmenu = false"
      x-on:click.outside="showmenu = false"
    >
      <ul>
        <li class="text-center py-2 border-y-2"><a href="#">Link 1</a></li>
        <li class="text-center py-2 border-b-2"><a href="#">Link 2</a></li>
        <li class="text-center py-2 border-b-2"><a href="#">Link 3</a></li>
        <li class="text-center py-2 border-b-2"><a href="#">Link 4</a></li>
      </ul>
    </nav>
  </div>
</div>
